<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- 這部分在controller補充額外提示訊息, 暫時關閉 -->
<!--     <% if flash.present? %>
      <div class="amendmsg">
        <p style="color: green"><%= flash[:notice] %></p>
        <p style="color: red"><%= flash[:alert] %></p>
      </div>
    <% end %> -->
    <%= yield %>
  </body>
</html>
